@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	--barn-red: #780000ff;
	--lava: #c22027ff;
	--oxford-blue: #001d3aff;
	--prussian-blue: #003049ff;
	--rich-black-fogra-29: #000c1eff;
	--baby-powder: #fcfff7ff;
	--air-superiority-blue: #669bbcff;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
	background-color: var(--oxford-blue);
	color: var(--baby-powder);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
